#map {
  height: 100%;
  flex-grow: 1;
}

#wrapper{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.list{
  width: 20%;
  min-width: 300px;
}

.loader{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  display: block;
  left: 0;
  right: 0;
  background-image: url(../images/loader.gif);
  background-size: cover;
  margin: -25px auto 0;
}