<template>
    <div class="list-items p-3 pb-1">
        <div class="group text-sm item bg-white hover:bg-indigo-dark hover:text-white cursor-pointer px-5 py-4 mb-3 shadow"
             v-for="(person, index) in people"
             :key="index"
             @click="focusMarker(person)"
             v-on:mouseenter="animateMarker(person.marker, true)"
             v-on:mouseleave="animateMarker(person.marker, false)">
            <div class="name uppercase font-semibold font-sans mb-1">
                {{ person.first_name }} {{ person.last_name }}
            </div>
            <div class="email text-sm mb-1">
                <font-awesome-icon :icon="['far', 'at']" /> {{ person.email }}
            </div>
            <div class="website text-sm mb-1">
                <font-awesome-icon :icon="['far', 'browser']" /> <a class="text-blue hover:text-white" :href="person.website" target="_blank">{{ person.website }}</a>
            </div>
            <div class="ip text-sm mb-1">
                <font-awesome-icon :icon="['far', 'server']" /> {{ person.ip_address }}
            </div>
            <!--<div class="ml-1">-->
            <!--<div class="address text-sm" v-html="person.address"></div>-->
            <!--</div>-->
        </div>
    </div>
</template>
<script>
    export default {
      name: "List",
      props: ['people', 'map'],
      data(){
        return{}
      },
      methods: {
        focusMarker(person) {
          _.each(this.people, (person, i) => {
            person.marker.infowindow.close();
          });
          this.map.panTo(person.marker.getPosition());
          this.map.setZoom(12);
          person.marker.infowindow.open(this.map, person.marker);
        },
        animateMarker(marker, animate) {
          if(animate === true){
            marker.setAnimation(google.maps.Animation.BOUNCE);
          }else{
            marker.setAnimation(null);
          }
        }
      }
    }
</script>
<style>
    .gm-style div div div div div div div {
        border-top-width: 0 !important;
    }
</style>