<template>
    <div id="wrapper">
        <div class="loader" v-show="initLoad"></div>
        <div class="list bg-grey shadow-md z-50 flex flex-col justify-between" v-show="!initLoad">
            <div class="flex p-3 justify-between flex-none shadow z-50 bg-white">
                <button class="bg-blue hover:bg-blue-dark text-sm text-white py-2 px-4 rounded" @click="reset">
                    View All
                </button>
                <div class="relative">
                    <select v-model="size" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-sm text-grey-darker py-2 px-4 pr-8 rounded leading-tight" id="grid-state">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
                <div class="relative">
                    <select v-model="sortBy" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-sm text-grey-darker py-2 px-4 pr-8 rounded leading-tight" id="grid-state">
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                        <option value="email">Email</option>
                    </select>
                    <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="list-items overflow-y-scroll flex-1">
                <List :people="this.people" :map="this.map"></List>
            </div>
            <div class="flex p-3 justify-center flex-none z-50 bg-white shadow-inner">
                <button v-for="n in totalPages" :class="['focus:outline-none', 'hover:bg-blue-dark', 'text-sm', 'text-white', 'py-2', 'px-4', 'rounded', 'mx-1', (page === n) ? 'bg-grey' : 'bg-blue']" @click="paginate(n)">
                    {{ n }}
                </button>
            </div>
        </div>
        <div id="map" v-show="!initLoad"></div>
    </div>
</template>
<script>
  import List from './List';
  import debounce from 'lodash/debounce'

  export default {
    name: 'hello',
    components: { List },
    data () {
      return {
        map: null,
        initLoad: true,
        baseUrl: `${process.env.MIX_APP_URL}/api/`,
        data: null,
        people: null,
        sortBy: "first_name",
        size: 5,
        mapBounds: null,
        page: 1,
        totalPages: 1,
        markers: [],
        pageTotal: null,
        token: "",
      }},
    mounted() {
      this.initMap();
      this.getToken(() => {
          this.setMarkers();
          this.initLoad = false;
      });

    },
    watch: {
      sortBy: function () {
        this.paginate(1);
      },
      size: function () {
        this.paginate(1);
      },
    },

    methods: {
      getToken(callback){
        let username = process.env.MIX_API_CREDS_USERNAME;
        let password = process.env.MIX_API_CREDS_PASSWORD;

        this.makeRequest(
          `${this.baseUrl}auth/login`,
          'post',
          {
              email: username,
              password: password
          },
        (response) => {
            this.token = response.data.access_token;
            callback()
        }, (error) => {
            console.log(error.response.data);
            this.loading = false;
            this.data = error.response.data;
            this.error = error.response.data.message;
        });
      },
      paginate(n){
        this.page = n;
        this.clearMarkers();
        this.setMarkers();
      },
      clearMarkers(){
        this.mapBounds = new google.maps.LatLngBounds();
        _.each(this.markers, (marker, i) => {
          marker.setMap(null);
        });
        this.markers = [];
        this.map.fitBounds(this.mapBounds);
      },
      initMap() {
        this.map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:0, lng: 0},
          scrollwheel: true,
          minzoom: 10,
        });
      },
      setMarkers(){
        this.mapBounds = new google.maps.LatLngBounds();

        this.getPeople(() => {

          let that = this;
          _.each(this.people, (person, i) => {
            person.address = person.address.replace(/,/g, '<br>');

            let latLng = new google.maps.LatLng(person.lat, person.long);

            let marker = new google.maps.Marker({
              position: latLng,
              map: that.map,
            });

            marker.infowindow = new google.maps.InfoWindow({
              content: person.address
            });

            person.marker = marker;
            that.markers.push(marker);
            that.mapBounds.extend(marker.getPosition());
          });

          this.setBounds();
        });
      },
      setBounds(){
        setTimeout(() => {
          this.map.fitBounds(this.mapBounds);
        }, 0);
      },
      reset(){
        this.setBounds();
        _.each(this.markers, (marker, i) => {
          marker.infowindow.close();
        });
      },
      getPeople(callback) {
        this.loading = true;
        this.makeRequest(
            `${this.baseUrl}people?page=${this.page}&count=${this.size}&sortBy=${this.sortBy}&token=${this.token}`,
            'get',
            null,
            (response) => {
          this.loading = false;
          this.data = response.data;
          this.people = response.data.data;
          this.totalPages = this.data.last_page;
          if(this.page > this.totalPages){
            this.page = 1;
          }
          callback()
        }, (error) => {
          this.loading = false;
          this.data = error.response.data;
          this.error = error.response.data.message;
        });
        return null;
      },
      makeRequest(url, method, data, successCallback, errorCallback) {
        this.error = null;
        axios({
            method: method,
            url: url,
            data: data
        }).then((response) => {
          successCallback(response);
        }).catch((error) => {
          if (error.response) {
            errorCallback(error);
          } else if (error.request) {
            this.error = 'No response from server';
          } else {
            this.error = 'Request Failure';
          }
        });
      },
    },
  }
</script>